@charset "utf-8";
.color-f-orange {
    color: rgb(254,126,23);
}
.color-b-orange {
    background-color: rgb(254,126,23);
}
.width1160 {
    width: 1160px;
    margin: auto;
}
.segLineSingle {
    height: 1px;
    border-top: 1px dashed #ccc;
    margin-bottom: 1px;
}
.segLineDouble {
    height: 1px;
    border-top: 1px dashed #ccc;
    border-bottom: 1px dashed #ccc;
    margin-bottom: 1px;
}


