@charset "utf-8";
#top {
    width: 100%;
    height: 25px;
    background-color: rgb(51,51,51);
    color: #fff;
    line-height: 28px;
}
#top .left,
#top .right {
    width: 50%;
    display: inline-block;
}
#top .left {
    text-align: left;
}
#top .right {
    text-align: right;
} 
#top i,
#top em ,
#top span {
    margin-right: 12px;
}
#top em {
    display: inline-block;
    width: 30px;
    height: 25px;
    text-align: center;
}
#top .left span:hover {
    color: rgb(187,69,47);
    text-decoration: underline;
}
#top .right span:hover {
    color: rgb(254,126,23);
}
#top em ,
#top span {
    cursor: pointer;
}
/* header */
#header {
    width: 100%;
    height: 105px;
    box-shadow: 0 0 10px #aaa;
    font-size: 14px;
}
a#logo{
    display: inline-block;
    width: 210px;
    height: 100%;
    margin-right: 60px;
}
#header img {
    vertical-align: middle;
}
#header ul.nav {
    display: inline-block;
    height: 100%;
    text-align: right;
}   
#header ul.nav li {
    display: inline-block;
    height: 100%;
    line-height: 105px;
    text-align: center;
}
#header ul.nav li a {
    display: inline-block;
    padding: 0 25px;
    border-right: 1px dashed #ccc;
    vertical-align: middle;
    line-height: 40px;
}
#header ul.nav li:hover {
    background-color: rgb(225,71,47);
    transition-duration: .3s;
}
#header ul.nav li:hover a {
    color: #fff;
}
/* content */
#content-nav {
    position: relative;
    border-bottom: 1px dashed #ccc;
    /* margin-bottom: 100px; */
}
#content-nav:after {
    content: '';
    position: absolute;
    bottom: -6px;
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ccc;
}
#sidebar {
    width: 273.59px;
    display: inline-block;
    vertical-align: top;
}
.search {
    width: 100%;
    height: 30px;
    margin: 10px 0 20px;
}
.search input {
    height: 30px;
    font-size: 14px;
}
.search input[type="text"] {
    box-sizing: border-box;
    width: 225px;
    padding-left: 6px;
    border: 1px solid rgb(204,204,204);
    box-shadow: 0 0 2px #aaa inset;
}
.search input[type="text"]::-webkit-input-placeholder {
    color: rgba(254,126,23,.5);
}
.search input[type="text"]::-moz-input-placeholder {
    color: rgba(254,126,23,.5);
}
.search input[type="text"]::-ms-input-placeholder {
    color: rgba(254,126,23,.5);
}
.search input[type="text"]:focus {
    border-color: rgba(254,126,23,.5);
}
.search input[type="button"] {
    width: calc(100% - 227px);
    background-color: rgb(254,126,23);
    color: #fff;
}
.search input[type="button"]:hover {
    background-color: #000;
    color: #fff;
}
#sidebar-nav {
    box-sizing: border-box;
    width: 100%;
    height: 450px;
    padding-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(34,34,34);
    border-radius: 6px 6px 50px 6px;
    color: #fff;
}
#sidebar-nav .title {
    width: 245px;
    height: 70px;
    margin: auto;
    margin-bottom: 20px;
    border-left: 1px dashed rgb(247,149,38);
}
#sidebar-nav .title:before {
    content: '';
    position: absolute;
    left: 12px;
    width: 1px;
    height: 70px;
    border-left: 1px dashed rgb(247,149,38);
}
#sidebar-nav .title p {
    margin-left: 5px;
}
#sidebar-nav .title p:first-child{
    font-size: 24px;
}
#sidebar-nav .title p:last-child{
    font-size: 55px;
    line-height: 32px;
}
#sidebar-nav select{
    display: block;
    width: 245px;
    height:35px;
    margin: auto;
    margin-bottom: 10px;
    border: 1px solid rgb(254,126,23);
    background-color: rgb(233,233,233);
    font-size: 14px;
}
/* banner */
#banner {
    position: relative;
    display: inline-block;
    width: 855px;
    margin-top: 10px;
    height: 500px;
    margin-left: 10px;
}
#banner ul#swiper {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 500px;
}
ul#swiper li {
    position: absolute;
    left: 0;
    z-index: 1;
    transition-duration: .9s;
}
.checkSwiper-last {
    position: absolute;
    left: 0;
    opacity: 1;
    z-index: 1;
    transform: translateX(-855px);
}
.checkSwiper-new {
    position: absolute;
    left: 0;
    opacity: 1;
    z-index: 3;
    transform: translateX(0);
}
.checkSwiper-next {
    position: absolute;
    left: 0;
    opacity: 0;
    z-index: 3;
    transform: translateX(855px);
    transition-duration: 0;
}
#banner .checkBtn {
    position: absolute;
    bottom: 10px;
    right: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 10px;
    padding: 20px;
    text-align: right;
    z-index: 5;
}
#banner .checkBtn span {
    display: inline-block;
    width: 100px;
    height: 10px;
    margin-right: 5px;
    background-color: rgb(51,51,51);
}
.oldPoint {
    background-color: rgb(51,51,51)!important;
}
.newPoint {
    background-color: rgb(225,71,47)!important;
}
/* smallBanner */
ul.smallBanner li{
    overflow: hidden;
    display: inline-block;
    width: 273.58px;
    height: 170px;
    margin-bottom: 60px;
    margin-right: 10px;
    border-radius: 6px 6px 56px 6px;
}
ul.smallBanner a,
ul.smallBanner img {
    width: 100%;
    height: 100%;
}
ul.smallBanner li:hover img{
    -webkit-filter: brightness(150%);
    filter: brightness(150%);
    transition-duration: .3s;
}
/* feature cat banner */
.featureCatBanner {
    position: relative;
    padding-top: 20px;
}
.featureCatBanner:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    width: 430px;
    height: 1px;
    margin: auto;
    border-width: 1px 0;
    border-style: dashed;
    border-color: rgb(225,71,47);
}
.featureCatBanner h2 {
    font-size: 30px;
    font-weight: 400;
    text-align: center;
}
.featureCatBanner h2:hover {
    color: rgb(225,71,47);
}
.featureCatBanner li {
    display: inline-block;
    padding: 20px;
}
.featureCatBanner ul {
    text-align: center;
}
.featureCatBanner li:hover {
    opacity: 0.8;
    transition-duration: .3s;
}
.featureCatBanner li a {
    overflow: hidden;
    display: inline-block;
    width: 307px;
    height: 252px;
}
.featureCatBanner li img {
    width: 100%;
    height: 100%;
}
.featureCatBanner li h3 {
    font-size: 20px;
    font-weight: 400;
    color: rgb(107,107,107);
    text-align: center;
}
.featureCatBanner li h3:hover {
    color: rgb(164,164,164);
}
/* partner */
#partner {
    box-sizing: border-box;
    width: 100%;
    height: 158px;
    padding: 40px 0;
    background-color: rgb(238,238,238);
}
#partner .title {
    position: relative;
    width: 193px;
    height: 60px;
    border-left: 1px dashed rgb(225,71,47);
}
#partner .title:before {
    content: '';
    position: absolute;
    left: -90px;
    width:1px;
    height: 60px;
    border-left: 1px dashed rgb(225,71,47);
}
#partner .title p:first-child{
    font-size: 26px;
    line-height: 20px;
}
#partner .title p:last-child {
    font-size: 40px;
    line-height: 48px;
}
#partner .title,
#partner .partnerList {
    display: inline-block;
    vertical-align: middle;
}
#partner .partnerList li {
    display: inline-block;
    width: 208px;
    height: 76px;
    margin-right: 26px;
}
#partner .partnerList a,
#partner .partnerList img {
    width: 100%;
    height: 100%;
}
/* latest */
#latest {
    padding-top: 80px;
}
#latest h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 10px;
}
#latest ul {
    width: 100%;
    padding: 50px 0;
}
#latest ul li {
    display: inline-block;
    width: 50%;
    height: 278px;
}
#latest li a,
#latest li img{
    width: 200px;
    height: 200px;
    vertical-align: middle;
}    
#latest li .into {
    display: inline-block;
    width: calc( 100% - 220px);
    height: 200px;
    margin-left: 20px;
    vertical-align: middle;
}
#latest .into h3 {
    font-size: 25px;
    line-height: 50px;
    font-weight: normal;
}
#latest .into h3:hover{
    color: rgb(196,92,9);
}
#latest .into p{
    font-size: 14px;
    margin-bottom: 10px;
}
#latest .into em {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: rgb(225,71,47);
    color: #fff;
    text-align: center;
}
#latest .into time {
    color: #999;
    margin-left: 10px;
}
#latest .into h4{
    font-size: 16px;
    font-style: italic;
    color: rgb(102,102,102);
    font-weight: 700;
}
/* footer */
#footer .title {
    width: 100%;
    height: 185px;
    border-bottom: 5px solid rgb(225,71,47);
    background: url('/app/images/F143872113.jpg') repeat;
    color: #fff;
    text-align: center;
}
.title>div {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
}
#footer .title h2 {
    font-size: 50px;
    font-weight: 400;
    padding-top: 20px;
}
#footer .title h3 {
    font-size: 24px;
    font-style: italic;
    font-weight: 500;
    color:rgba(255,255,255,.8);
}
#footer .infos {
    width: 100%;
    height: 477px;
    background-color: rgb(51,51,51);
    text-align: center;
}
#footer .infos>div>ul>li {
    display: inline-block;
    vertical-align: top;
    margin-right: 80px;
}
#footer .infos ul {
    color: #fff;
    font-size: 16px;
    font-style: normal;
}
#footer .infos li:first-child {
    margin-top: 30px;
}
#footer .infos li {
    color: rgb(102,102,102);
    font-size: 12px;
    margin-bottom: 10px;
    text-align: left;   
}
#footer .infos li a {
    color: rgb(153,153,153);
}
#footer .infos>div>ul>li:first-child ul li:last-child a{
    color: rgb(225,71,47);
}
#footer .infos>div>ul>li:nth-child(3) ul li li:hover a,
#footer .infos>div>ul>li:first-child ul li:hover a{
    color: rgb(196,92,9);
    transition-duration: .3s;
}
#footer .infos>div>ul>li:nth-child(2)>ul>li:nth-child(1),
#footer .infos>div>ul>li:nth-child(3)>ul>li:nth-child(1){
    border-bottom: 1px dashed rgba(105,105,105,.8);
}
#footer .infos>div>ul>li:nth-child(2)>ul>li:nth-child(2) li:nth-child(1),
#footer .infos>div>ul>li:nth-child(2)>ul>li:nth-child(2) li:nth-child(3){
    font-weight: bold;
}
#footer .infos>div>ul>li:nth-child(4) span {
    color: rgb(254,126,23);
}
#footer .infos>div>ul>li:nth-child(2)>ul>li:nth-child(2) li:nth-child(4),
#footer .infos>div>ul>li:nth-child(2)>ul>li:nth-child(2) li:last-child{
    color: rgb(254,126,23);
    font-size: 14px;
}
#footer .infos>div>ul>li:last-child {
    width: 256px;
    padding-top: 30px;
}
#footer .infos>div>ul>li:last-child p {
    margin-bottom: 30px;
}
#footer .infos>div>ul>li:last-child li {
    display: inline-block;
    width: 76px;
    height: 63px;
}
#footer .infos>div>ul>li:last-child li img {
    width: 100%;
    height: 100%;
}
#footer #fall {
    box-sizing: border-box;
    width: 100%;
    height: 52px;
    padding-top: 10px;
    background-color: rgb(37,37,37);
    color: rgb(102,102,102);
    font-weight: 550;
}
#footer #fall em {
    color: rgb(254,126,23);
}